{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Clients-User{% endblock %}


{% block content %}


<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-8">
                <h5 class="card-header">| User's List</h5>
                </div>
                <div class="col-md-4 card-tools">
                    <a href="{% url 'clients-user-create' %}" class="btn btn-success">Add User</a>
                </div>
            </div>
            <br />
        </div>
        <div class="card-body">
            <div class="row table-responsive">
                <table class="table table-striped" id="telecallertable">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Department</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for telecaller in telecallers %}

                        <tr>
                            <td>{{ telecaller.user.username }}</td>
                            <td>{{ telecaller.department }}</td>
                            <td>{{ telecaller.user.email }}</td>

                        {% if telecaller.user_id %}

                            <td><a href="{% url 'clients-user-update' telecaller.user_id %}" class="btn btn-warning" id="{{ telecaller.user_id }}">Edit</i></a>
                            <a href="{% url 'clients-user-delete' telecaller.user_id %}" class="btn btn-danger">Delete</i></td>
                        </tr>
                       {% endif %}

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
