{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Stage{% endblock %}


{% block content %}

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header ">
            <div class="row">
                <div class="col-md-10">

                   <form method="get" action="{% url 'stages' %}">
                        <div class="row">
                          <div class="col-md-4">
                            <input type="text" class="form-control" name="searchText" placeholder="Search by name"
                              value="{{ searchText|default:'' }}">
                          </div>
                          <div class="col-md-4">
                            <button type="submit" class="btn btn-primary px-4">Search</button>
                            <a href="{% url 'stages' %}" class="btn btn-success px-4">Reset</a>
                          </div>
                        </div>
                      </form>

                 <h5 class="card-header">| Stage List</h5>
                </div>
                <div class="col-md-2 card-tools">
                    <a href="{% url 'stage_add' %}" class="btn btn-success">Add Lead Satge</a>
                </div>
            </div>
            <br />
        </div>
        <div class="card-body">
            <div class="row table-responsive">
                <table class="table  table-striped" id="leadtable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Slug</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for stage in page_obj %}
                            <td>{{ stage.name }}</td>
                            <td>{{ stage.description }}</td>
                            <td>{{ stage.slug }}</td>
                            <td>{{ stage.status }}</td>
                            <td><a href="stage_update/{{stage.id}}" class="btn btn-warning" id='{{stage.id}}'>edit</a>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Pagination links -->
                <div class="pagination">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1">&laquo; First</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                        {% if num == page_obj.number %}
                        <li class="page-item active">
                            <span class="page-link">{{ num }}</span>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>


            </div>

        </div>
    </div>

</section>
{% endblock %}
