{% extends layout_path %}

{% load static %}
{% load i18n %}


{% block title %}Telly-Commu/My-Operator{% endblock %}


{% block content %}
{% load custom_filters %}

{% csrf_token %}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Telly Communication Settings</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Telly Communication Settings</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="card card-primaryy">
                        <form action="{% url 'update_telly_Communication_settings' %}" method="POST" id="formId">
                            {% csrf_token %}

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="provider">Provider</label>
                                        <select id="provider" name="provider" class="form-control">
                                            <option value="My-Telly">My-Telly</option>
                                            <option value="My-Operator">My-Operator</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Fields for My-Telly -->
                                <div class="row" id="my-telly-fields">
                                    {% for field in leadform.visible_fields %}
                                        {% if field.name|in_list:"phones,source_id,auth_token" %}
                                            <div class="col-sm-6">
                                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                {{ field }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                                <!-- Fields for My-Operator -->
                                <div class="row" id="my-operator-fields" style="display: none;">
                                    {% for field in leadform.visible_fields %}
                                        {% if field.name|in_list:"ivr_token,company_id,secret_token,public_ivr_id" %}
                                            <div class="col-sm-6">
                                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                {{ field }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                                <button type="submit" class="btn btn-primary px-4 float-right">
                                    {% if general_settings %}
                                       Update
                                       {% else %}
                                       Save
                                       {% endif %}
                                   </button>
                            </div>
                            <!-- <button type="submit" class="btn btn-primary px-4 float-right">Submit</button> -->

                            <!-- JavaScript to show/hide fields based on provider selection -->
                            <script>
                                document.getElementById('provider').addEventListener('change', function () {
                                    const selectedProvider = this.value;
                                    const myTellyFields = document.getElementById('my-telly-fields');
                                    const myOperatorFields = document.getElementById('my-operator-fields');

                                    if (selectedProvider === 'My-Telly') {
                                        myTellyFields.style.display = 'block';
                                        myOperatorFields.style.display = 'none';
                                    } else if (selectedProvider === 'My-Operator') {
                                        myTellyFields.style.display = 'none';
                                        myOperatorFields.style.display = 'block';
                                    }
                                });

                                // Trigger the change event to initially hide the fields based on the default selected provider
                                document.getElementById('provider').dispatchEvent(new Event('change'));
                            </script>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
