{% extends 'base.html' %}

{% block content %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Communications</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="">Dashboard</a></li>
                    <li class="breadcrumb-item active">Communications</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header ">
            <div class="row">
                <div class="col-md-10">
                </div>
                <div class="col-md-2 card-tools">
                    <a href="{% url 'communication_add' %}" class="btn btn-success">Add Communication</a>
                </div>
            </div>
            <br />
        </div>
        <div class="card-body">
            <div class="row table-responsive">
                <table class="table  table-striped" id="leadtable">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Value</th>
                            <th>Description</th>
                            <th>Type</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for source in page_obj %}
                        <tr>
                            <td>{{ source.title }}</td>
                            <td>{{ source.value }}</td>
                            <td>{{ source.description }}</td>
                            <td>{{ source.type }}</td>
                            <td>{{ source.status }}</td>
                            <td><a href="communication_update/{{source.id}}" class="btn btn-warning" id='{{source.id}}'>edit</a>
                                <a href="communication_delete/{{source.id}}" class="btn btn-danger" id = '{{source.id}}'>delete</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Pagination links -->
                <div class="pagination">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1">&laquo; First</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                        {% if num == page_obj.number %}
                        <li class="page-item active">
                            <span class="page-link">{{ num }}</span>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>


            </div>

        </div>
    </div>

</section>
{% endblock %}