<div class="card-body">
    {% csrf_token %}
    {% if lead.phone %}
        <div class="col-sm-12">
            <a onclick="ivrcall({{ lead.phone }},{{ lead.id }})" style="color:red"
               href="javascript:void(0);" class="clicktocall" title="click2call">
                <i class="fa fa-2x fa-volume-control-phone"></i>
            </a>
        </div>
    {% endif %}

    <input type="hidden" value="{{ request.META.HTTP_REFERER }}" name="previous_url"/>
    <div class="form-group row">
        <div class="col-sm-6">
            <label for="description">Salutation</label>
            <select class="form-control select2 validate[required] {% if 'salutation' in errors %} is-invalid {% endif %}"
                    name="salutation" id="salutation">
                <option value="">Select</option>
                <option value="mr" {% if lead.salutation == 'mr' %} selected {% endif %}>Mr.</option>
                <option value="mrs" {% if lead.salutation == 'mrs' %} selected {% endif %}>Mrs.</option>
                <option value="ms" {% if lead.salutation == 'ms' %} selected {% endif %}>Ms.</option>
            </select>
            {% if 'salutation' in errors %}
                <span class="invalid-feedback" role="alert">
                    <strong>{{ errors.salutation }}</strong>
                </span>
            {% endif %}
        </div>

        <div class="col-sm-6">
            <label for="name">Name</label>
            <input id="name" placeholder="Enter first name" type="text"
                   class="form-control validate[required] {% if 'name' in errors %} is-invalid {% endif %}"
                   name="name" value="{{ lead.name|default:'' }}">
            {% if 'name' in errors %}
                <span class="invalid-feedback" role="alert">
                    <strong>{{ errors.name }}</strong>
                </span>
            {% endif %}
        </div>
    </div>
    <div class="form-group row">

        <div class="col-sm-6">
            <label for="phone">Phone Number</label>
            <input type="text"
                   class="form-control validate[required,minSize[10],maxSize[13]] {% if 'phone' in errors %} is-invalid {% endif %}"
                   placeholder="Enter Phone number" maxlength="13" size="10" name="phone"
                   value="{{ lead.phone|default:'' }}">
            {% if 'phone' in errors %}
                <span class="invalid-feedback" role="alert">
                    <strong>{{ errors.phone }}</strong>
                </span>
            {% endif %}
        </div>
        <div class="col-sm-6">
            <label for="email">Email</label>
            <input id="email" placeholder="Enter email" type="email"
                   class="form-control validate[required, custom[email]] {% if 'email' in errors %} is-invalid {% endif %}"
                   name="email" value="{{ lead.email|default:'' }}">
            {% if 'email' in errors %}
                <span class="invalid-feedback" role="alert">
                    <strong>{{ errors.email }}</strong>
                </span>
            {% endif %}
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-sm-6">
            <input type="checkbox" name="is_potential" id="is_potential" value="yes"
                   {% if lead.is_potential == "yes" %} checked {% endif %}>
            <label for="description">Is Potential Lead?</label>
        </div>
        <div class="col-sm-6">
            <input type="checkbox" name="is_star" id="is_star" value="yes"
                   {% if lead.is_star == "yes" %} checked {% endif %}>
            <label for="description">Is Start Lead?</label>
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-sm-6">
            <label for="description">Lead Source</label>
            <select class="form-control select2 validate[required] {% if 'lead_source_id' in errors %} is-invalid {% endif %}"
                    name="lead_source_id" id="lead_source_id">
                <option value="">Select</option>
                {% for source in lead_sources %}
                    <option {% if lead and source.id == lead.lead_source_id.id %} selected {% endif %}
                            value="{{ source.id }}">{{ source.name }}</option>
                {% endfor %}
            </select>
            {% if 'lead_source_id' in errors %}
                <span class="invalid-feedback" role="alert">
                    <strong>{{ errors.lead_source_id }}</strong>
                </span>
            {% endif %}
        </div>
    
        <div class="col-sm-6">
            <label for="description">Lead Stage</label>
            <div class="col-sm-12" style="height:200px; overflow:auto;padding:0px;border:1px solid #eee;">
                {% for status in statuses %}
                    <input  class="lead_status_id {% if status.slug in lead_stages %} is_potential_radio {% else %} non_potential_radio {% endif %}"
                           {% if status.slug in lead_stages %} disabled {% endif %}
                           {% if lead and status.id == lead.lead_status_id.id %} checked {% endif %}
                           type="radio" value="{{ status.id }}" name="lead_status_id" /> {{ status.name }} <br/>
                {% endfor %}
            </div>
            {% if 'lead_status_id' in errors %}
                <span class="invalid-feedback" role="alert">
                    <strong>{{ errors.lead_status_id }}</strong>
                </span>
            {% endif %}
        </div>
    </div>

    <div class="form-group row" style="visibility:hidden;">
        <div class="col-sm-12">
            <input type="checkbox" name="choose_date_time" id="choose_date_time" value="yes">
            <label for="">Choose Stage Date/Time?</label>
        </div>
    </div>

    <div class="form-group row" id="date_time_div">
        <div class="col-sm-6">
            <input placeholder="Choose Date/Time for stage" type="text" class="form-control"
                name="date" readonly id="date_time_field" autocomplete="off">
        </div>
        <div class="col-sm-6" id="callslot" style="display:none">
            
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-sm-6">
            <label for="description">Product</label>
            <select class="form-control select2 validate[required] {% if 'product_id' in errors %} is-invalid {% endif %}"
                    name="product_id" id="product_id">
                <option value="">Select</option>
                {% for product in products %}
                    <option {% if lead and product.id == lead.product_id.id %} selected {% endif %}
                            value="{{ product.id }}">{{ product.name }}</option>
                {% endfor %}
            </select>
            {% if 'product_id' in errors %}
                <span class="invalid-feedback" role="alert">
                    <strong>{{ errors.product_id }}</strong>
                </span>
            {% endif %}
        </div>
    
        <div class="col-sm-6">
            <label for="name">City</label>
            <input id="name" placeholder="Enter city" type="text"
                   class="form-control {% if 'city' in errors %} is-invalid {% endif %}" name="city"
                   value="{{ lead.city|default:'' }}">
            {% if 'city' in errors %}
                <span class="invalid-feedback" role="alert">
                    <strong>{{ errors.city }}</strong>
                </span>
            {% endif %}
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-sm-6">
            <label for="name">Spouse Name</label>
            <input id="name" placeholder="Enter spouse name" type="text"
                   class="form-control {% if 'spouse_name' in errors %} is-invalid {% endif %}" name="spouse_name"
                   value="{{ lead.spouse_name|default:'' }}">
            {% if 'spouse_name' in errors %}
                <span class="invalid-feedback" role="alert">
                    <strong>{{ errors.spouse_name }}</strong>
                </span>
            {% endif %}
        </div>
    
        <div class="col-sm-6">
            <label for="name">Alternate Number</label>
            <input id="name" placeholder="Enter alternate number" type="text"
                   class="form-control validate[custom[onlyNumber],minSize[10],maxSize[10]] {% if 'alternate_number' in errors %} is-invalid {% endif %}" maxlength="10" size="10" name="alternate_number"
                   value="{{ lead.alternate_number|default:'' }}">
            {% if 'alternate_number' in errors %}
                <span class="invalid-feedback" role="alert">
                    <strong>{{ errors.alternate_number }}</strong>
                </span>
            {% endif %}
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-sm-6">
            <label for="description">Lead Centre</label>
            <select required class="form-control select2 validate[required] {% if 'centre_name' in errors %} is-invalid {% endif %}"
                    name="centre_name" id="centre_name">
                <option value="">Select</option>
                {% for location in locations %}
                    <option {% if lead and location.id == lead.centre_name.id %} selected {% endif %}
                            value="{{ location.id }}">{{ location.name }}</option>
                {% endfor %}
            </select>
            {% if 'centre_name' in errors %}
                <span class="invalid-feedback" role="alert">
                    <strong>{{ errors.centre_name }}</strong>
                </span>
            {% endif %}
        </div>
        
    
        <div class="col-sm-6">
            <label for="description">Lead Type</label>
            <select class="form-control select2" name="lead_type_id" id="lead_type_id">
                <option value="">Select</option>
                {% for lead_type in lead_types %}
                    <option {% if lead and lead_type.id == lead.lead_type_id.id %} selected {% endif %}
                            value="{{ lead_type.id }}">{{ lead_type.name }}</option>
                {% endfor %}
            </select>
        </div>
        
    </div>
    
    <div class="form-group row">
        <div class="col-sm-12">
            <label for="description">Comment</label>
            <textarea class="form-control" placeholder="Enter Comment" name="comment"></textarea>
        </div>
    </div>
    
    <input type="hidden" id="questionForm" value="" name="questionForm" />
    
    <button type="submit" class="btn btn-primary px-4 float-right">
        {% if lead %}
            Update
        {% else %}
            Save
        {% endif %}
        
    </button>

    


    <!-- Rest of the form fields -->

    <div class="modal fade" id="clicktocall" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <!-- Modal content here -->
    </div>

    <input type="hidden" id="leadId" value="{{ lead.id|default:'' }}" />
</div>

<script>
var check;
$("#is_potential").on("click", function(){
    check = $("#is_potential").is(":checked");
    if(check) {
        $('input.non_potential_radio').prop('disabled', true);
        $('input.is_potential_radio').prop('disabled', false);
    } else {
        $('input.is_potential_radio').prop('disabled', true);
        $('input.non_potential_radio').prop('disabled', false);
    }
}); 


    $(function(){
        $("#date_time_field").prop('required',true);
        $("#date_time_field").prop("readonly", false);
        $("#slot").prop('required',true);
        $("#slot").prop("readonly", false);
        // $(document).on("click", "#saveQuestionFormButton", function() {
        //     console.log($("#saveQuestionsForm"));
        //     console.log("called");
        //     $("#questionForm").val($("#saveQuestionsForm").serialize());
        //     $("#questionModal").modal("hide");
        // })

        $(document).on("click", "#saveQuestionFormButton", function(){
            $("#questionModal").modal("hide");
        })
        $(document).on("click", "#closeQuestionModal", function() {
        $("#questionModal").modal("hide");
      });

        $('#questionModal').on('hidden.bs.modal', function () {
            $("#questionForm").val($("#saveQuestionsForm").serialize());
        });


        
        // $("#choose_date_time").on("click", function(){
        //     $("#date_time_div").toggle();
        //     if($(this).is(':checked')) {
        //         $("#date_time_field").prop('required',true);
        //         $("#date_time_field").prop("readonly", false);
        //         $("#callslot").prop('required',true);
        //         $("#callslot").prop("readonly", false);
        //     } else {
        //         $("#date_time_field").prop('required',false);                
        //         $("#date_time_field").prop("readonly", true);
        //         $("#callslot").prop('required',false);                
        //         $("#callslot").prop("readonly", true);
        //     }
            
            
        // })


if ($(".lead_status_id").length) {
    $(".lead_status_id").change(function() {
        const stageId = $(this).val();
        const leadId = $("#leadId").val();
        if (stageId) {
            var stages = new Array('36','38','34','33','22','18','25');
            if(jQuery.inArray(stageId, stages) != -1) {
              

                // $("#date_time_div").hide();
                $("#date_time_field").val("");
                $("#date_time_field").prop('required',false);
                $("#date_time_field").prop("readonly", true);
                $("#slot").val("");
                 $("#slot").prop('required',false);
                $("#slot").prop("readonly", true);
                $("#choose_date_time").prop("checked", false);
                
               // $('#slot').css('display','none');

            }  else {
                $("#is_potential").prop("checked", true);
                 //$("#date_time_div").show();
                 $("#date_time_field").prop('required',true);
                 $("#date_time_field").prop("readonly", false);
                 $("#choose_date_time").prop("checked", true);
                 $("#slot").prop('required',true);
                 $("#slot").prop("readonly", false);
            }
            
            
            $.ajaxSetup({
                  headers: {
                      "X-CSRFToken": "{{ csrf_token }}"
                  }
              });

            $.ajax({
                url: "/leads/get-questions",
                method: "POST",
                dataType: "json",
                data: {
                    stageId,
                    leadId
                },
                success: function(result) {
                    if (result.status != 2) {
                        let questions =
                            "<div class='row'> <div class='col-md-12' id='allQuestions'>";
                        let i = 0;
                        $("#questionModalBody").html("");
                        $.each(result, function(key, value) {
                            i++;
                            questions += `<input type="hidden" name="question_${i}" value="${key}">`;
                            $.each(value, function(index, val) {
                                questions += `<label>${index}</label> <div>`;
                                $.each(val, function(asnwerIndex, answer) {
                                    questions += `<input class="answers validate[groupRequired[answers]]" type='radio' name="answer_${i}" value="${asnwerIndex}"> ${answer} `;
                                });
                                questions += `</div>`;
                            });
                            questions += `</div> </div>`;
                        });
                        $("#stage_id").val(stageId);
                        $("#questionModalBody").append(questions);
                        $("#questionModal").modal("show");
                    }
                }
            });
        }
    });
}


    })

</script>

