<form action="{% url 'leads.lead-assigning' %}" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="assigning_lead_id" id="assigning_lead_id">
    {% csrf_token %}
    <div class="modal fade" id="lead_assigning_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Assign Lead</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group" id="assigntelecallerlist">
                        <label for="attachmentInputFile">Telecaller's</label>
                        <div class="input-group">
                            <div class="col-sm-12 col-xs-12">
                                <div class="input-group">
                                    <select id="leadassignto" name="telecaller" class="form-control" required>
                                        <option value="">-- Select Telecaller --</option>
                                        {% for user in telecaller_users %}
                                            <option value="{{ user.id }}">{{ user.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="input-group-append" style="margin-top:15px;">
                                <button class="btn btn-success pull-right" type="submit">Assign Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <table id="leadassigntransfertable">
                            <thead>
                                <tr>
                                    <th>Telecaller</th>
                                    <th>Assigned On</th>
                                    <th>Assigned</th>
                                </tr>
                            </thead>
                            <tbody id="assigneduser_table"></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>
