{% extends layout_path %}

{% load static %}
{% load i18n %}


{% block title %}Change Password{% endblock %}

{% block content %}

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="card card-primaryy">
                  <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <br>
                    <button type="submit" class="btn btn-primary d-flex">Change Password</button>
                  </form>

                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}
