{% extends "layouts/app.html" %}
{% load static %}

{% block content %}

<meta name="_token" content="{% csrf_token %}" />

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Edit Communication</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'facebookCommunication' %}">Communication</a></li>
                    <li class="breadcrumb-item active">Edit Communication</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="card-tools">
                <a href="{% url 'facebookCommunication' %}" class="btn btn-primary">Back</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="card card-primary">
                        <form action="{% url 'facebookCommunication.edit' %}" method="POST" id="formId">
                            {% csrf_token %}
                            {% include "communicationFB/form.html" %}
                            <input type="hidden" value="{{ facebookCommunication.id }}" name="id" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
