{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Product{% endblock %}


{% block content %}


<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header ">
            <div class="row">
                <div class="col-md-10">
                <h5 class="card-header">| Product List</h5>
                </div>
                <div class="col-md-2 card-tools">
                    <a href="{% url 'product_add' %}" class="btn btn-success">Add Product</a>
                </div>
            </div>

        </div>
        <div class="card-body">
            <div class="row table-responsive">
                <table class="table  table-striped" id="leadtable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for source in page_obj %}
                        <tr>
                            <td>{{ source.name }}</td>
                            <td>{{ source.product_code }}</td>
                            <td>{{ source.description }}</td>
                            <td>{{ source.price }}</td>
                            {% if source.status == "active" %}
                                <td><span class="badge bg-label-success me-1">{{ source.status }}</span></td>
                            {% else %}
                                <td><span class="badge bg-label-danger me-1">{{ source.status }}</span></td>
                            {% endif %}
                            <td>
                            <a href="{% url 'product_update' pk=source.id %}" class="btn btn-warning" id="{{ source.id }}">edit</a>
                             <a href="{% url 'product_delete' id=source.id %}" class="btn btn-danger" id="{{ source.id }}">delete</a>
                             </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Pagination links -->
                <div class="pagination">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1">&laquo; First</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                        {% if num == page_obj.number %}
                        <li class="page-item active">
                            <span class="page-link">{{ num }}</span>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>


            </div>

        </div>
    </div>

</section>
{% endblock %}
