{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Templates{% endblock %}

{% block content %}


<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header ">
            <div class="row">
                <div class="col-md-10">
                 <h5 class="card-header">| Template List</h5>
                </div>
                <div class="col-md-2 card-tools">
                    <a href="{% url 'template_add' %}" class="btn btn-success">Add Template</a>
                </div>
            </div>
            <br />
        </div>
        <div class="card-body">
            <div class="row table-responsive">
                <table class="table  table-striped" id="leadtable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Subect</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stage in page_obj %}
                        <tr>
                            <td>{{ stage.name }}</td>
                            <td>{{ stage.type }}</td>
                            <td>{{ stage.subject }}</td>
                            <td>
                                <a href="template/update/{{stage.id}}" class="btn btn-warning"
                                    id='{{stage.id}}'>edit</a>
                                <a href="template/delete/{{stage.id}}" class="btn btn-danger"
                                    id='{{stage.id}}'>delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Pagination links -->
                <div class="pagination">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1">&laquo; First</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                        {% if num == page_obj.number %}
                        <li class="page-item active">
                            <span class="page-link">{{ num }}</span>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>


            </div>

        </div>
    </div>

</section>
{% endblock %}
